h1 {
    color: #B81D0F;
    background-color: white;
    font-size: 40px;
    text-align: center;
}
body{
	background-color:silver;
}
h2 {
    font-size: 22px;
    text-align: center;
}
img{
	max-height:150px;
	max-width:150px;
}